<h1>My tasks</h1>
<div class="container">
  <ul>
    <% @tasks.each do |task| %>
      <% if task.completed %>
        <%= check_box_tag 'task_completed[x]', task.id, true %>
      <% else %>
        <%= check_box_tag 'task_completed[]', task.id %>
      <% end %>
      <li>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to "Delete",
          task_path(task.id),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <%= link_to "Add a new task", tasks_new_path %> 
</div>
